<h2> Courses for Student: <%= @student.first_name %> <%= @student.last_name %>
 </h2>

<hr>

<%= link_to 'Edit Yourself', edit_student_path %>
<%= link_to 'Delete Yourself' student_path %>
<%= link_to 'Add Your Courses', new_course_path %>

 <table>
   <tr>
     <th>
       COURSE SUBJECT
     </th>
   </tr>
   <% @student.courses.each do |course| %>
   <%= course.subject %>
   <% end %>
 </table>
