<h2> Classes for Instructor: <%= @instructor.first_name %> <%= @instructor.last_name %> </h2>

<hr>
<%= link_to 'Edit Yourself', edit_instructor_path %>
<%= link_to("Delete Yourself", @instructor, :method => :delete, :class => 'action', data: {confirm: "Are you sure?"}) %>

<table>
  <tr>
    <th>
      CLASS SUBJECT
    </th>
  </tr>

  <tr>
    <td>
      <% @instructor.courses.each do |course| %>
      <%= course.subject %> <br>
      <% end %>

    </td>
  </tr>
</table>
